<?xml version="1.0" encoding="utf-8"?>
<!--
WARNING: Please consult the README.md file in the top level directory of
     this repo for instructions on modifying this file.
-->

<image schemaversion="6.8" name="cray-pre-install-toolkit-sle15sp2">
    <description type="system">
        <author>Russell Bunch</author>
        <contact>rustydb@hpe.com</contact>
        <specification>
            CRAY Pre-install Toolkit for facilitating deployments on bare-metal and/or prior
            deployments into the High-Performance-Computing-as-a-Service stack. This tool can also
            be used for recovery on any non-compute/service node.
        </specification>
    </description>
    <preferences>
        <type image="iso"
              primary="true"
              firmware="uefi"
              flags="overlay"
              hybrid="true"
              hybridpersistent="true"
              hybridpersistent_filesystem="ext4"
              volid="CRAYLIVE"
              kernelcmdline="payload=file://dev/sda3 splash=silent mediacheck=1 biosdevname=1 console=tty0 console=ttyS0,115200 mitigations=auto iommu=pt pcie_ports=native transparent_hugepages=never rd.shell"
              mediacheck="true"/>
        <version>CRAY.VERSION.HERE</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>America/Chicago</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <preferences>
        <type image="vmx" filesystem="ext4" bootloader="grub2" kernelcmdline="splash" firmware="efi"/>
        <type image="oem" filesystem="ext4" initrd_system="dracut" installiso="true" bootloader="grub2" kernelcmdline="splash" firmware="efi">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine guestOS="suse"
                     HWversion="4"
                     ncpus="2"
                     memory="1024">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <users>
        <!-- Set root user password to empty string. -->
        <user pwdformat="plain" password="" home="/root" name="root" groups="root"/>
    </users>

    <repository type="rpm-md" alias="SLES15_Module_Basesystem" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Module-Basesystem/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Basesystem_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Module-Basesystem/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Development_Tools" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Module-Development-Tools/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Development_Tools_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Module-Development-Tools/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Containers" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Module-Containers/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Containers_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Module-Containers/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Server-Applications" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Module-Server-Applications/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_Server-Applications_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Module-Server-Applications/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_HPC" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Module-HPC/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Module_HPC_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Module-HPC/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Product_SLES" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Products/SLE-Product-HPC/"/>
    </repository>

    <repository type="rpm-md" alias="SLES15_Product_SLES_Updates" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/os/rpms/sles/15sp2-all/Updates/SLE-Product-HPC/"/>
    </repository>

    <repository type="rpm-md" alias="cray-sles15-sp2-ncn" priority="99" imageinclude="true">
        <source path="http://dst.us.cray.com/dstrepo/shasta-cd-repo/bloblets/shasta-general/rpms/cray-sles15-sp2-ncn/"/>
    </repository>

    <packages type="image">
        <!-- Section: SUSE Packages -->
        <package name="bash-completion"/>
        <package name="biosdevname"/>
        <package name="blog"/>
        <package name="blog-plymouth"/>
        <package name="ca-certificates-mozilla"/>
        <package name="checkmedia"/>
        <package name="createrepo_c"/>
        <package name="conman"/>
        <package name="curl"/>
        <package name="dhcp-client"/>
        <package name="ethtool"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="git"/>
        <package name="grub2"/>
        <package name="grub2-branding-SLE"/>
        <package name="grub2-i386-pc"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="ipmitool"/>
        <package name="iproute2"/>
        <package name="iproute2-bash-completion"/>
        <package name="iputils"/>
        <package name="jq" />
        <package name="kernel-default"/>
        <package name="kernel-firmware"/>
        <package name="less"/>
        <package name="loftsman"/>
        <package name="lshw" />
        <package name="lsof" />
        <package name="lvm2"/>
        <package name="manifestgen"/>
        <package name="minicom"/>
        <package name="kernel-mft-mlnx-kmp-default"/>
        <package name="nmap"/>
        <package name="open-lldp"/>
        <package name="openssh"/>
        <package name="parted"/>
        <package name="patterns-base-base"/>
        <package name="pciutils"/>
        <package name="podman"/>
        <package name="podman-cni-config"/>
        <package name="python"/>
        <package name="rsync"/>
        <package name="screen"/>
        <package name="shim"/>
        <package name="syslinux"/>
        <package name="systemd-bash-completion"/>
        <package name="tar"/>
        <package name="tcpdump"/>
        <package name="timezone"/>
        <package name="traceroute"/>
        <package name="vim"/>
        <package name="wget"/>
        <package name="which"/>
        <package name="wireshark"/>
    </packages>
    <packages type="iso">
        <package name="branding-SLE"/>
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="oem">
        <package name="branding-SLE"/>
        <package name="dracut-kiwi-oem-dump"/>
        <package name="dracut-kiwi-oem-repart"/>
    </packages>
    <packages type="bootstrap">
        <package name="ca-certificates"/>
        <package name="cracklib-dict-full"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="SLE_HPC-release"/>
        <package name="udev"/>
    </packages>
</image>
<!--
vim: et sw=4 ts=4
-->
